<div class="container my-3">
  <div class="jumbotron">
    <h1 class="display-4">About this Angular App</h1>
    <p class="lead">
      This is a simple hero single page Application made with Angular 11.12.2.
      The main focus of it is to learn about angular directives, decorators and
      file structures.
    </p>
    <hr class="my-4" />
    <p>
      If you feel like this has exited you and you want to know more about the
      framework, click the link below.
    </p>
    <a
      class="btn btn-outline-info btn-lg"
      routerLink="https://angular.io/docs"
      role="button"
      >Learn more about Angular</a
    >
  </div>
</div>
